@import '../../App.module.css';

.navbar{
  width: 100%;
  height: 71px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: var(--color-white);
  border-bottom: var(--border-weight) solid var(--color-light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: var(--font-family-leferipoint-black);
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--color-orange);
  cursor: pointer;
}


.loginBtn, .logoutBtn{
  width:fit-content;
  height: 1.2rem;
  font-family: var(--font-famiy-pretendard-regular);
  font-size: 15px;
  font-weight: var(--weight-pretendard-light);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.userInfo{
  display: flex;
  align-items: center;
}

.userName {
  padding-right: 4px;
}


.userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* margin-right: 6px; */
}

.userName {
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .userName{
    display: none;
  }

  .loginBtn, .logoutBtn{
    font-size: var(--font-semi-small);
  }

  .userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}