@import '../../App.module.css';

.container{
  position: fixed;
  top: 35%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: lightgoldenrodyellow;
}

label {
  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-orange);

  width: 50px;
  margin-left: 15px;

  text-align: left;
}

input{
  font-family: var(--font-family-pretendard-regular);
  font-weight: 300;
  font-size:14px;
  line-height: 17px;
  color: var(--color-black);
  border: none;

  text-align: center;
  width: 40%;
  height: 80%;

  background-color: aquamarine;

}

.locationContainer, .infoContainer, .title{
  margin-bottom: 20px;
}

.departure, .arrival, .remainingTime, .recruitment, .transport, .title, .content{
  border: none;
  outline: none;
  background: var(--color-white);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 6px;
}

.locationContainer {
  display: flex;
}

.infoContainer {
  display: flex;
}

.departure {
  width: 342px;
  height: 49px;
}

.arrival {
  width: 342px;
  height: 49px;
  margin-left: 20px;
}

.remainingTime {
  width: 342px;
  height: 49px;
}

.recruitment {
  width: 134px;
  height: 49px;
  margin-left: 20px;
}

.transport{
  width: 188px;
  height: 49px;
  margin-left: 20px;
}

.title{
  width: 704px;
  height: 49px;

  justify-content: flex-start;
}

.title input{
  margin-left: 30px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 704px;
  height: 179px;
}

.content input{
  width: 100%;
}

.searchIcon{
  color: var(--color-orange);
}

.calendarIcon{
  color: var(--color-orange);
}