@import '../../App.module.css';

.container{
  position: fixed;
  top: 22%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formLabel {
  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-orange);

  width: 50px;
  margin-left: 15px;

  text-align: left;
}

.formLabelRC{
  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-orange);

  width: 100%;
  padding-left: 2px;
  text-align: left;
}

input{
  font-family: var(--font-family-pretendard-regular);
  font-weight: 300;
  font-size:14px;
  line-height: 17px;
  color: var(--color-black);
  border: none;

  text-align: center;
  height: 80%;

  /* background-color: aquamarine; */

  overflow: hidden;
  white-space: nowrap;

}

p{
  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-black);
}


.locationContainer, .infoContainer, .title{
  margin-bottom: 20px;
}

.departure, .arrival, .remainingTime, .recruitment, .transport, .title, .content{
  border: none;
  outline: none;
  background: var(--color-white);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;

}

.locationContainer {
  display: flex;
}

.infoContainer {
  display: flex;
}

.departure {
  width: 342px;
  height: 49px;
}

.departure input, .arrival input, .remainingTime input{
  width: 60%;
}


.arrival {
  width: 342px;
  height: 49px;
  margin-left: 20px;
}

.remainingTime {
  width: 342px;
  height: 49px;
}

.recruitment {
  width: 134px;
  height: 49px;
  margin-left: 20px;
}

.recruitment p {
  font-size: 12px;
}

.recruitment input{
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.transport{
  width: 188px;
  height: 49px;
  margin-left: 20px;

  justify-content: space-around;
  
}

.transportSelect{
  outline: none;
  border: none;
  cursor: pointer;
}


.title{
  width: 704px;
  height: 49px;

  justify-content: flex-start;
}

.title input{
  width: 80%;
  margin-left: 30px;
  text-align: left;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 704px;
  height: 179px;
  padding: 0 25px;

}

.content label{
  margin:0;
  padding-top: 20px;
}

.searchIcon{
  color: var(--color-orange);
  font-size: 14px;
}

.calendarIcon{
  color: var(--color-orange);
  font-size: 16px;
}

textarea{
  font-family: var(--font-family-pretendard-regular);
  font-weight: 300;
  font-size:14px;
  line-height: 17px;
  color: var(--color-black);
  border: none;
  margin: 20px 0 0 0;

  text-align: left;
  overflow: hidden;

  outline: none;
  resize: none;
}

.btns{

  width: 704px;
  margin-top: 20px;

  display: flex;
  justify-content:space-between;
}

.btn_backToList{
  width: 118px;
  height: 34px;
  background-color: var(--color-white);
  border: 1px solid var(--color-orange);
  border-radius: 8px;


  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 12px;
  color: var(--color-orange);
  line-height: 14px;
}

.btn_submit{
  width: 118px;
  height: 34px;
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 8px;


  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 12px;
  color: var(--color-white);
  line-height: 14px;
}

@media screen and (max-width: 768px){
  .container{
    top: 14%;
  }
  form{
    width: 80%;
  }

  .locationContainer, .infoContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .departure, .arrival, .remainingTime, .recruitment, .transport, .title, .content{
    margin: 0;
    width: 100%;
    margin-bottom: 4px;
  }

  .content{
    height: 100px;
  }

  .btns{
    justify-content: center;
  }
}