@import '../../App.module.css';

.logInContainer{
    position: absolute;
    top: 22%;
  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title{
  font-family: var('Pretendard-Regular');
  font-size: 36px;
  font-weight: bold;
  color: var(--color-orange);

  cursor: pointer;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.email input{
  width: 390px;
  height: 48px;

  border: 1px solid #CCCCCC;
  border-radius: 6px;

  margin-top: 10px;
  padding-left: 15px;
  text-align: left;
}

.authBtn{
  width: 79px;
  height: 48px;
  margin-left: 9px;
  background-color: var(--color-orange);
  border-radius: 6px;

  color: var(--color-white);
  font-family: var('Pretendard-Regular');
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.password{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.password input{
  width: 390px;
  height: 48px;

  border: 1px solid #CCCCCC;
  border-radius: 6px;

  margin-top: 10px;

  padding-left: 15px;
  text-align: left;
}

label {
  font-family: var('Pretendard-Regular');
  font-weight: 600;
  color: var(--color-black);
  font-size: 18px;
  margin: 0;
  width: 100%;
}

.submitBtn {
  width: 390px;
  height: 52px;

  margin-top: 36px;

  background: #FF9C55;
  border-radius: 6px;

  font-family: var('Pretendard-Regular');
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  cursor: pointer;
}

.nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.nickname input{
  width: 302px;
  height: 48px;

  border: 1px solid #CCCCCC;
  border-radius: 6px;

  margin-top: 10px;
  padding-left: 15px;
  text-align: left;
}
