@import '../../App.module.css';

.meetList{
  /* position: static; */
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.meetListLabel {
  font-family: var(--font-family-pretendard-regular);
  font-weight: var(--weight-pretendard-medium);
  font-size: var(--font-small);
  color: var(--color-orange);
  line-height: 17px;
}


.locationDeparture, .locationArrival{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-semi-small);
  color: var(--color-orange);
  font-weight: var(--weight-bold);
  border: none;
}

.location input{
  width: 152px;
  height: 40px;
  /* margin: 0.5rem; */
  /* padding: 0 0.5rem; */

  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0.5rem;

  font-family: var(--font-family-pretendard-regular);
  font-weight: var(--font-pretendard-light);
  font-size: var(--font-small);

}

.locationArrow{
  font-size: var(--font-small);
  color: var(--color-orange);
  transform: translateY(50%);
  margin-left: 10px;
}


.locInfo{
  position: absolute;
  top: 4%;
  background-color: yellow;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.location{
  background-color: navy;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn_create{
  position: absolute;
  right: 0%;
  background-color: #ef4b3f;
  width: 16%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-orange);
  font-family: var(--font-family-pretendard-regular);
  font-weight: var(--weight-pretendard-medium);
  font-size: var(--font-small);
  line-height: 17px;
  margin-top: 16px;
  color: var(--color-white);
}


.meetUl{
  background-color: green;
  position:absolute;
  top: 13%;
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  overflow-wrap:break-word;
  overflow-y:scroll;
  list-style: none;
  
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}


@media screen and (max-width: 1860px){
  .location {
    display: flex;
    flex-direction: row;
  }

  .meetUl{
    display: grid;
    grid-template-columns: repeat(4, auto);
  
    column-gap: 20px;
    row-gap:  20px;
    padding-bottom: 10px;
  }

  .location {
    display: flex;
    flex-direction: row;
  }
/* 
  .meet{
    width: 240px;
    height: 170px;
  } */

}


@media screen and (max-width: 1520px){
  .location {
    display: flex;
    flex-direction: row;
  }
  .meetUl{
    display: grid;
    grid-template-columns: repeat(3, auto);
  
    column-gap: 20px;
    row-gap:  20px;
    padding: 0;
    padding-bottom: 10px;
  }

  /* .meet{
    width: 240px;
    height: 170px;
  } */


}

@media screen and (max-width: 1024px){

  .meetList{
    display: flex;
    flex-direction: column;
  }

  .location {
    display: flex;
    flex-direction: row;
  }
  
  .locationDeparture .locationArrival .locationArro .locInfoBox {
    display: none;
  }



  
  .meetUl{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap:  20px;
    padding: 0;
  }


}

@media screen and (max-width: 768px){

  .meetList{
    display: flex;
    flex-direction: column;
  }

  .location .locationDeparture, .locationArrow, .locationArrival {
    display: none;

  }


  .meetListLabel{
    padding: 0;
  }


  
  .meetUl{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .btn_create{
    width: 100%;
  }

}