<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>Chat Room</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
      
</head>

<body>
        <script type="text/javascript">
                $(document).ready(function () {
                        console.log('http://' + document.domain + ':' + location.port)
                        var socket = io.connect('http://' + document.domain + ':' + location.port);
                        //var socket = io.connect('http://59.5.112.55:8080/chat');
                        var nickName = 'User';
                        
                        socket.on('connect', function () {
                                var connect_string = 'new_connect';
                                socket.send(connect_string);
                        });

                        socket.on('message', function (msg) {
                                // console.log(type(msg));
                                if (msg.type === 'normal') {

                                        $('#messages').append(msg.message);
                                } else {
                                        $('#messages').append('<li>' + msg.message + '</li>');
                                }
                                console.log('Received Message : ' + msg.type);
                        });

                        $('#sendbutton').on('click', function () {
                                socket.send($('#nickname').val() + ': ');
                                socket.send($('#myMessage').val() + '<br>');
                                $('#myMessage').val('');

                        });
                        $('#sendbutton').on('click', function () {
                                $("#nickset").attr("disabled", true);
                                $("#nickname").attr("disabled", true);
                        });
                        $('#nickset').on('click', function () {
                                $("#nickset").attr("disabled", true);
                                $("#nickname").attr("disabled", true);
                        });
                });
        </script>

        <ul id="messages"
                style="list-style: none; text-align: center; font-family: var(--font-family-pretendard-regular); margin-top: 100px;"></ul>


        <div class="naming" style="display: flex; align-items: center; justify-content: center; width: 100%;">
                <ul id="nick"></ul>
                <input type="text" id="nickname" placeholder='닉네임을 입력해주세요.'
                        style="border-radius: 7px; text-align: center;">
                <button id="nickset"
                        style="background-color: #FF9C55; color: white; border-radius: 7px; border-color: #FF9C55; margin-left: 10px;">닉네임
                        설정</button>
        </div>

        <div class="sendMsg" style="display: flex; align-items: center; justify-content: center; width: 100%;">
                <input type="text" id="myMessage" placeholder='메세지를 입력해주세요.'
                        style="border-radius: 7px; text-align: center; align-items: center; justify-content: center;">
                <button id="sendbutton"
                        style="background-color: #FF9C55; color: white; border-radius: 7px; border-color: #FF9C55; align-items: center; justify-content: center; margin-left: 10px;">전송</button>
        </div>


</body>

</html>