@import '../../App.module.css';

.container {
  margin-top: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.meetContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.departure, .arrival, .meetTime, .recruitment, .transport, .title, .content, .user{
  border: none;
  outline: none;
  background: var(--color-white);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;
}

.meetDetailLable{
  width: 60px;
  height: 14px;
  margin: 0;

  font-family: var(--font-family-pretendard-regular);
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;

  color: var(--color-orange);
}

.image{
  width: 596px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.locAndUserContainer{
  width: 596px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.departure{
  width: 288px;
  height: 53px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrival{
  width: 288px;
  height: 53px;
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}


.hostId{
  font-size: 15px;
}

.title{
  width: 596px;
  height: 49px;
  margin-top: 20px;

  justify-content: center;
}

.info{
  width: 596px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.recruitment {
  width: 288px;
  height: 53px;
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recruitment input{
  width: 20px;
  margin-left: 3px;
  padding-right: 0;
  margin-right: 0;
}

.recruitment p {
  margin: 0;
  font-size: 15px;
}

.meetTime {
  width: 288px;
  height: 53px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time {
  font-size: 16px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  font-weight: 400;
}


.content{
  width: 596px;
  height: 114px;
  margin-top: 20px;
  padding-top: 20px;
  align-items: flex-start;
}

.btns{
  width: 596px;
  height: 34px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 185px;
  height: 34px;
  border-radius: 10px;
}


.btn_join, .btn_chat{
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn_backToList{
  background-color: var(--color-white);
  border: 2px solid var(--color-orange);
  color: orange;
}

.btn_chat a {
  text-decoration: none;
  color: var(--color-white);
}

/* .userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.participantContainer{
  width: 288px;
  height: 126px;
}

.participantLabel {
  width: 50px;
  font-size: 15px;
  color: var(--color-orange);
  text-align: center;
  /* padding-top: 15px; */
  /* margin-right: 10px; */
}

.hostId{
  padding-left: 10px;
}

.participant {
  list-style: none;
}


@media screen and (max-width: 768px){
  .imgTransport{
    width: 400px;
  }

  .locAndUserContainer{
    width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .departure{
    width: 200px;
  }

  .arrival{
    width: 200px;
  }
  .title{
    width: 400px;
  }
  .info{
    width: 400px;
  }

  .recruitment{
    width: 100px;
  }


  .meetTime{
    width: 300px;
  }

  .meetContainer{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userInfoInfo {
    width: 60px;
    margin: 0;
    padding-right: 10px;
  }
  
  .content{
    width: 400px;
  }

  .btns{
    width: 300px;
  }

  button {
    width: 120px;
    margin-left: 20px;
  }
}