@import '../../App.module.css';

.container {
  margin-top: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.meetContainer{
  width: 50%;
  min-width: 514px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.departure, .arrival, .meetTime, .recruitment, .transport, .title, .content{
  position: relative;
  border: none;
  outline: none;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  text-align: center;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.meetDetailLable{
  position: absolute;
  left: 10%;
  height: 14px;
  margin: 0;

  font-family: var(--font-family-pretendard-regular);
  font-weight: var(--weight-pretendard-bold);
  font-size: var(--font-small);
  line-height: 17px;

  color: var(--color-orange);
}

.title > .meetDetailLable, .content > .meetDetailLable {
  left: 5%;
}

.image{
  width: 100%;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.locAndUserContainer{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 50%;
}

.departure{
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrival{
  width: 100%;
  height: 53px;
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title{
  width: 100%;
  height: 49px;
  margin-top: 20px;

  justify-content: center;
}

.info{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.recruitment {
  width: 50%;
  height: 53px;
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meetTime {
  margin-left: 8px;
  width: 50%;

  height: 53px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.time {
  font-size: var(--font-regular);
  font-weight: bold;
  flex-wrap: wrap;
  padding-left: 20%;
}

.date {
  font-size: var(--font-small);
  font-weight: var(--weight-pretendard-regular);
  color: grey;
  flex-wrap: wrap;
  padding-left: 10px;
}

.content{
  width: 100%;
  height: 114px;
  margin-top: 20px;
  padding-top: 2%;
  padding-left: 12%;
  align-items: flex-start;
  text-align: left;
  overflow-y: scroll;
}

.content > span{
  transform: translateY(-3%);
  width: 94%;
  height: 90%;
}

.btns{
  width: 100%;
  height: 34px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 35%;
  height: 34px;
  border-radius: 10px;
}


.btn_join, .btn_chat{
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn_full{
  background-color: gray;
  color: var(--color-white);
}

.btn_quit, .btn_delete {
  background-color: #ef4b3f;
  color: var(--color-white);
}

.btn_backToList{
  background-color: var(--color-white);
  border: 2px solid var(--color-orange);
  color: orange;
}

.btn_chat a {
  text-decoration: none;
  color: var(--color-white);
}


.participantContainer{
  position: relative;
  width: 50%;
  margin-left: 6px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.participantList {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
  padding-bottom: 4px;
}

.participantList > li {
  font-size: var(--font-small);
  text-align:start;
}

.chatContainer {
  width: 48%;
  height: 100%;
  min-width: 347px;
}

.chat_blocker {
  width: 100%;
  height: 580px;
  background-color: orange;
  box-shadow: -2px 2px 6px 6px rgba(194,186,186,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}


@media screen and (max-width: 768px){

  .container{
    margin-top: 0%;
    margin: auto;
    width:100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .meetContainer{
    min-width:fit-content;
    width: 100%;
  }

  .image{
    border-radius: 0%;
    width: 100%;
    height: 80px;
  }

  .locAndUserContainer{
    background-color: beige;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .location {
    width: 100%;
  }

  .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .title > .meetDetailLable, .content > .meetDetailLable {
    left: 10%;
  }
  .recruitment {
    width: 100%;
  }

  .meetTime{
    width: 100%;
  }

  .participantContainer{
    width: 100%;
    height: fit-content;
    border-radius: 0%;
    border-bottom: 0.1px solid lightgray;
  }

  .content{
    height: fit-content;
    padding: 4%;
  }


  .departure, .arrival, .meetTime, .recruitment, .transport, .title, .content{
    margin: 0;
    border-radius: 0%;
    border-bottom: 0.1px solid lightgray;
    justify-content: flex-start;
  }

  .time{
    padding: 0;
  }

  .participantList{
    margin-left: 0;
  }

  .participantList > li {
    position: relative;
    left: 8%;
  }

  .detailSpan, .time, .date {
    position: relative;
    left: 0%;
    /* background-color: #ef4b3f; */
    width:100%;
  }
  

  .btns{
    margin-top: 10px;
  }

  .chatContainer{
    min-width: fit-content;
    margin-top: 8px;
    width: 100%;
    z-index: 1;
  }

}
