@import '../../App.module.css';


.arrival{
  margin: 0 3rem;
}

.inputBox{
  width: 300px;
  height: 80px;
  /* padding: 0 0.5rem; */

  background-color: var(--color-white);
  border: 2px solid var(--color-light-grey);
  border-radius: 1rem 1rem 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.input{
  border: none;
  outline: none;
  font-weight: var(--weight-pretendard-light);
  font-size: 18px;
  text-align: center;
}


.searchIcon{
  width: 28px;
  height: 28px;
  color: var(--color-orange);
}

.ocos{
  font-family: var(--font-family-leferibase-bold);
}


.searchDropDown ul{
  list-style: none;
  padding: 0;
}

.searchDropDown li{
  width: 100%;
  height: 32px;

  padding-top: 3px;

  font-family: var(--font-family-pretendard-regular);
  font-size: 18px;

  border: 1px solid lightgrey;
  text-align: center;

}

.searchDropDown li:hover{
  border-color: var(--color-orange);
  background-color: #fcfcfc;
}

@media screen and (max-width: 768px){
  .searchIcon{
    width: 20px;
    height: 20px;
  }
}