@import '../../App.module.css';

.logInContainer{
    position: absolute;
    top: 12%;
  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: lightblue;

}

.logo{
  font-family: 'LeferiPoint-BlackA';
  font-size: 50px;
  font-weight: bold;
  color: var(--color-orange);

  cursor: pointer;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

.email input{
  width: 390px;
  height: 48px;

  border: 1px solid #CCCCCC;
  border-radius: 6px;

  margin-top: 10px;
}

.password{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.password input{
  border: 1px solid #CCCCCC;
  border-radius: 6px;

  margin-top: 10px;
}

label {
  font-family: var('Pretendard-Regular');
  color: var(--color-black);
  font-size: 18px;
  margin: 0;
  width: 100%;
}
